.container{
  display: flex;
  margin-top: 10px;
}

/*.header{
  grid-area: header;
  background-color: green;
}

.nav{
  grid-area: nav;
  
  background-color: gray;
}

.plot{
  grid-area: plot;
  
  background-color: violet;
}

.patient a{
  text-decoration: none;
} */